DOCUSAURUS_URL=https://osint.skunkworksacademy.com
DOCUSAURUS_BASE_URL=/
COURSE_CHECKOUT_URL=https://portal.skunkworksacademy.com/checkout/?course=OSINT-101
COURSE_CONTENT_KEY=
ACADEMY_ENTITLEMENT_ENDPOINT=
ACADEMY_ENTITLEMENT_TOKEN=
